
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
        var get_groupnames_url = "{{=URL('api','getGroupNames',user_signature=True)}}";
        var add_group_url = "{{=URL('api','addGroup',user_signature=True)}}";
        var add_listing_url = "{{=URL('api','addListing',user_signature=True)}}";
        var get_listings_url = "{{=URL('api','getListings',user_signature=True)}}";
        var add_image_url = "{{=URL('api','add_image',user_signature=True)}}";
        var change_default_url = "{{=URL('api','change_default',user_signature=True)}}";
        var payment_history_content_url = "{{=URL('api','payment_history_content',user_signature=True)}}";
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Hicappo</title>

<!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Our Custom CSS -->
<link rel="stylesheet" href="{{=URL('static','css/style2.css')}}">
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

{{end}}

<div class="main_content">
<div id="vue-div" class="display:none">
        
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Landlord</h3>
        </div>

        <ul class="list-unstyled components">
        
            <li v-bind:class="{'active': page == 'home', '': !(page == !'home')}">
                    <a v-on:click="goto('home')">Properties</a>
            </li>
            <li v-bind:class="{'active': page == 'payment_history', '': !(page == !'payment_history')}">
                <a v-on:click="get_payment_history">Payment History</a>
            </li>
            <li v-bind:class="{'active': page == 'settings', '': !(page == !'settings')}">
                <a v-on:click="goto('settings')">Settings</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content Holder -->
    <div id="content">
            <div id="loading" class="alert alert-warning" role="alert">
                     Loading<div class="loader"></div>
            </div>
            
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalgroup">
                                        <i class="glyphicon glyphicon-th-large"></i>
                                        <span>Add Group</span>
                                    </button>
                                </div>
                        
                            <div class="col-md-4" >
                                <button type="button" class="btn btn-primary" v-on:click="goto('add1')">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add Property</span>
                                </button>
                            </div>

                            <div class="col-md-4">
                                <a type="button" class="btn btn-danger" href="{{=URL('default','user',args='logout')}}">
                                        <i class="glyphicon glyphicon-log-out"></i>
                                        <span>Logout</span>
                                </a>
                            </div>
                            
                            

                            </div>
                        
               
       
                    </ul>
                </div>
            </div>
        </nav>
       
                <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
                
                

        <!-- Modal for adding groups -->

        <div id="modalgroup" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Add a group</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                                <input class="form-control" v-model="form_new_group">
                        </div>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-primary" v-on:click="add_group()" data-dismiss="modal">Add</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
              
                </div>
        </div>


        
        <div class = "form-group" id = "goog">
            <label for="exampleInputEmail1">Full Address</label>
            <input v-model= "form_address"class="form-control" id="searchTextField" type="text" size="100">
        </div>
        


            <div v-if = "page=='add1'">
                
                <button v-on:click="goto('add2')" type="button" class="btn btn-primary"> Next </button>
                <button v-on:click = "cancel_form" type="button" class="btn btn-danger" >Cancel</button>
            </div>

            <div v-if = "page=='add2'">
                <form>

                    <div class="form-group">
                            <label for="address">Address</label>
                            <input v-model="form_address" size="100" style="border: 0px; text-align:center; font-weight: bold;">
                    </div>

                    <div class="form-group">
                            <label for="address">Preferred Name</label>
                            <input class="form-control" v-model="form_prefname">
                    </div>


                    <label for="address">Group</label>
                    <div class="btn-group dropright">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ${form_group.name}
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                        <div class="dropdown-menu">
                            <li v-for= "groupi in group_names">
                            <a class="dropdown-item" v-on:click="set_form_group(groupi.name,groupi.id)">${groupi.name}</a>
                            </li>
                        </div>
                    </div>
        
                    <div class="form-group">
                            <label for="exampleInputEmail2">Tenant Email</label>
                            <input v-model="form_tenant_email" type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                    
                    </div>

                    <div class="form-group">
                            <label for="exampleInputEmail2">Rent Amount</label>
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                              <div class="input-group-addon">$</div>
                              <input v-model="form_amount" type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                              <div class="input-group-addon">.00</div>
                            </div>
                    </div>

                    <div class="form-group">
                            <label for="uploadingfile">Upload an image file: </label>
                            <input id="file_input" type="file" v-on:change="upload_file" accept="image/jpeg">
                    </div>
        

                    <div>
                        <button v-on:click="submit_add_property" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                        <button type="button" class="btn btn-warning" v-on:click="hide">Hide</button>
                        <button v-on:click = "cancel_form" type="button" class="btn btn-danger" >Cancel</button>
                    </div>
                    
                
                </form>
            </div>

            
                
            
        <div v-if = "page=='settings'">
            <div class= "form-group">
                <label>Set as default </label>
           
                    <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              Dropdown
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li><a v-on:click = "change_default('landlord')">Landlord</a></li>
                              <li><a v-on:click ="change_default('tenant')">Tenant</a></li>
                            </ul>
                          </div>
            </div>
        </div>

        <div v-if = "page=='payment_history'">

            <table class = "table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tenant Name</th>
                        <th>Month</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Updated On</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody  v-for="report in payment_history">
                    <tr>
                        <th>${report.id}</th>
                        <td>${report.tenant_full_name}</td>
                        <td>${report.for_month}</td>
                        <td>${report.tenant_email}</td>
                        <td>${report.address}</td>
                        <td>${report.updated_on}</td>
                        <td>${report.amount}</td>
                    </tr>

                </tbody>
            </table>
        </div>


        <div  v-if= "page=='home'"  class="jumbotron">
            <div class="container">
            
                    <!-- Do v-for on this ine below . The outer jumbotron is for gray color -->
                <div v-for= "listing in listings">
                        <div v-if= "listing.group_name != last_group_name">
                                <center><h3> ${listing.group_name}</h3></center>
                                <div id = "hideit">
                                    ${last_group_name = listing.group_name}
                                </div>
                            </div>
                    <div style="background-color:white !important" class="jumbotron">
                    
                <div class="row">
        
                    <div class="col-md-4">
                       <img v-bind:src="listing.image_url" width="100%"  class="padded"/>
                        </div>
                    <div class="col-md-4">
                        <h2 v-if="!listing.pref_name">${listing.address}</h2>
                        <h2 v-if="listing.pref_name">${listing.pref_name}</h2>
                        <div v-if="listing.linked==1">
                            <h4>Tenant Name</h4> ${listing.tenant_name}
                            <div v-if="listing.last_paid">
                            <h4>Last paid</h4> ${listing.last_paid}
                            </div>
                        </div>
                        <div v-else>
                            <h4>Linking Email</h4> ${listing.tenant_email}
                        </div>
                        <h4>Amount</h4> <h5>$${listing.amount}</h5>
                        
        
                    </div>
                    <div class="col-md-4" >
                        <div v-if="listing.paid_this_month==true">
                            <button type="button" class="btn btn-lg btn-block btn-success">Paid</button>
                        </div>
                        <div v-else>
                                <button type="button" class="btn btn-lg btn-block btn-danger">Not Paid</button>
                        </div>
                        <br>

                        
                        <div v-if ="listing.linked==0">
                        <button type="button" class="btn btn-lg btn-block btn-danger">Not Linked</button>
                        </div>
                        <div v-else>
                            <button type="button" class="btn btn-lg btn-block btn-success">Linked</button>
                        </div>
                    </div>
                    
                </div> 
                </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

</div>     
</div>






<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>






<script src="{{=URL('static', 'js/default_landlord.js')}}"></script>